/*--------------------------------------------------------------
Eggnews Block List
--------------------------------------------------------------*/

.eggnews_block_list {
  .single-post-wrapper {
    margin-bottom: 2%;
  }
  .post-thumb-wrapper {
    float: left;
    width: 48%;
  }
  .post-content-wrapper {
    float: right;
    width: 50%;
  }
}