.column-posts-block .post-title a,
.grid-posts-block .post-title a{
	display: inline-block;
}

.post-meta-wrapper span a,
.post-meta-wrapper > span{
	vertical-align: top;
}

.post-meta-wrapper > span{
	line-height:1em;
	vertical-align: top;
}

.post-meta-wrapper > span:before,
.post-meta-wrapper > span:after{
	line-height:1.5em;
}

.post-meta-wrapper span a{
	line-height:1.4em;
	vertical-align: top;
}

/*=====================================================================
Block Layout
=====================================================================*/

.block-title:empty{
	display:none;
}

#secondary .block-posts-block{
	width:100%;
	margin-left:0;
}

#secondary .post-meta-wrapper > span{
	display: block;
	margin-right:0px;
}

#secondary .featured-right-section,
#secondary .featured-post-wrapper{
	padding-top:10px;
}

#secondary .featured-right-section img,
#secondary .featured-right-section,
#secondary .featured-left-section,
#secondary .featured-post-wrapper,
#secondary .teg-featured-slider-wrapper{
	width:100%;
}

#secondary .teg-column-wrapper,
#secondary .eggnews_block_grid .block-posts-wrapper{
	margin-left:0px;
}

.widget-title-wrapper::after,
.block-header::after {
	clear: both;
	content: "";
	display: block;
}

.widget_archive a,
.widget_categories a,
.widget_meta a,
.widget_nav_menu li a,
.widget_pages li a,
.widget_recent_comments li,
.widget_recent_entries a,
.widget_rss li{
	padding-left:20px;
}

.rtl #content .block-header .block-title::after,
.rtl #content .related-articles-wrapper .related-title::after,
.rtl #content .widget .widget-title::after{
	left:initial;
	right:100%;
	border-width: 33px 33px 0 0;
	border-right-color:#408c40;
}
