/*--------------------------------------------------------------
TICKER CSS
--------------------------------------------------------------*/

.eggnews-ticker-wrapper {
	margin-top: 15px;
}

#teg-newsTicker {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

.ticker-caption {
	background: $ticker_caption;
	color: #fff;
	display: inline-block;
	float: left;
	font-size: 14px;
	font-weight: 700;
	padding: 5px 0;
	text-align: center;
	width: 10%;
	position: relative;

}

.ticker-content-wrapper {
	border: 1px solid $ticker_caption;
	float: left;
	height: 35px;
	overflow: hidden;
	padding: 4px 0px 0 30px;
	width: 90%;
	position: relative;
	border-left: none;
	z-index: 0;
	.news-post a {
		color: $ticker_caption;
	}
	.bx-controls {
		position: absolute;
		right: 5px;
		top: 0;
		a {
			color: lighten($ticker_caption, 0.5);
			display: inline-block;
			margin: 5px 10px 0 0;
			opacity: 0.6;
			position: static;
			vertical-align: top;
			&:hover {
				opacity: 1;
			}
		}
	}
}
