/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/

.widget {
  margin: 0 0 25px;
  padding-bottom: 10px;
  select {
    max-width: 100%;
  }
}

/* Make sure select elements fit in widgets */